{% extends 'base.html' %}
{% load static %}
{% block customcss %}
    <link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
    {% if user.is_authenticated %}
    <div class='container'>
        <form action='' method='POST' enctype="multipart/form-data">{% csrf_token %}
            <p>タイトル：<input type='text' name='title'></p>
            <p>内容：<input type='text' name='content'></p>
            <p>画像：<input type='file' name='images'></p>
            <input type='hidden' name='author' value='{{ user.username }}'>
            <input type='submit' value='作成する'>
        </form>
    </div>
    {% else %}
    <span class="container">ログインしてください</span><br>
    <a href={% url 'login' %} class="btn btn-lg btn-warning btn-block container">ログインページへ</a>
    {% endif %}
{% endblock content %}